.ai-image-generator {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 30px;
    padding: 0 20px;
}

.header {
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 30px;
    text-align: center;
}

.header span {
    color:aquamarine;
    text-shadow: 3px 3px 4px #c00dd8;
    font-weight: 600;
}

.img-loading {
    display: flex;
    flex-direction: column;
}

.img-loading img {
    max-width: 700px;
    
}

.search-box {
    display: flex;
    width: 800px;
    height: 75px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background-color: #1f3540;
    box-shadow: 3px 3px 4px #c00dd8;
    padding: 0 20px;
}

.search-input {
    width: 500px;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    padding-left: 35px;
    margin-right: 35px;

}

.search-input::placeholder {
    color: #999;
}

.generate-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 60px;
    font-size: 20px;
    border-radius: 50px;
    background: #c00dd8;
    box-shadow: 3px 3px 4px aquamarine;
    cursor: pointer; 
}

.loading-bar {
    width: 0px;
    height: 8px;
    background: aquamarine;
}

.loading-text {
    font-size: 18px;
}
.loading-bar-full {
    width: 600px;
    height: 8px;
    background: aquamarine;
    transition: 15s;

}

.display-none {
    display: none;
}

@media (max-width: 768px) {
    .header {
        font-size: 50px;
    }

    .search-box {
        flex-direction: column;
        height: auto;
        padding: 20px;
        width: 400px;
    }

    .search-input {
        width: 100%;
        margin: 0 0 15px 0;
        padding-left: 15px;
    }

    .generate-btn {
        width: 100%;
        height: 50px;
        font-size: 18px;
    }

    .loading-bar-full {
        width: 100%;
        max-width: 500px;
    }
}

@media (max-width: 480px) {
    .header {
        font-size: 50px;
    }

    .img-loading img {
        max-width: 350px;
        
    }

    .search-box {
        flex-direction: column;
        height: auto;
        padding: 20px;
        width: 290px;
    }

    .search-input {
        width: 100%;
        margin: 0 0 15px 0;
        padding-left: 15px;
    }

    .generate-btn {
        width: 100%;
        height: 50px;
        font-size: 18px;
    }

    .loading-bar-full {
        width: 100%;
        max-width: 500px;
    }
}
